Version 02/flow_node-red.json
[
    {
        "id": "2421c377f143735c",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed983d7351d08346",
        "type": "mqtt in",
        "z": "2421c377f143735c",
        "name": "",
        "topic": "medibox/sensor/light_intensity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b7b2d53ed3b2872f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 160,
        "wires": [
            [
                "d3f49883516a7ecb"
            ]
        ]
    },
    {
        "id": "a5e886115122e5e9",
        "type": "mqtt in",
        "z": "2421c377f143735c",
        "name": "",
        "topic": "medibox/config/sampling_interval",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b7b2d53ed3b2872f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "8f29c76d4e66737e"
            ]
        ]
    },
    {
        "id": "e7d1d0f258816a46",
        "type": "mqtt in",
        "z": "2421c377f143735c",
        "name": "",
        "topic": "medibox/config/averaging_interval",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b7b2d53ed3b2872f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 320,
        "wires": [
            [
                "6993cd6fd4bb61a6"
            ]
        ]
    },
    {
        "id": "8f29c76d4e66737e",
        "type": "debug",
        "z": "2421c377f143735c",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "6993cd6fd4bb61a6",
        "type": "debug",
        "z": "2421c377f143735c",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 320,
        "wires": []
    },
    {
        "id": "d3f49883516a7ecb",
        "type": "function",
        "z": "2421c377f143735c",
        "name": "function 13",
        "func": "\nreturn {\n    payload: msg.payload.light,\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 160,
        "wires": [
            [
                "ec6999546fb90382",
                "b9c112f13f2091c3"
            ]
        ]
    },
    {
        "id": "42e62d449d9b1d11",
        "type": "mqtt out",
        "z": "2421c377f143735c",
        "name": "",
        "topic": "medibox/config/sampling_interval",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b7b2d53ed3b2872f",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "f9b50876b9b5454f",
        "type": "mqtt out",
        "z": "2421c377f143735c",
        "name": "",
        "topic": "medibox/config/averaging_interval",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b7b2d53ed3b2872f",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "2d52bf6e0a0d201e",
        "type": "debug",
        "z": "2421c377f143735c",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "f904696791a43792",
        "type": "debug",
        "z": "2421c377f143735c",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 560,
        "wires": []
    },
    {
        "id": "ec6999546fb90382",
        "type": "ui-chart",
        "z": "2421c377f143735c",
        "group": "4ae917ec5fa6b79a",
        "name": "Light Intensity over Time",
        "label": "Light Intensity over Time",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "1",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": "3",
        "showLegend": false,
        "removeOlder": "2",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "5",
        "className": "",
        "interpolation": "bezier",
        "x": 730,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b9c112f13f2091c3",
        "type": "ui-gauge",
        "z": "2421c377f143735c",
        "name": "",
        "group": "4ae917ec5fa6b79a",
        "order": 1,
        "width": 4,
        "height": "2",
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Light Intensity",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "0.4",
                "color": "#ffc800"
            },
            {
                "from": "0.7",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "1",
        "sizeThickness": "10",
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "7d43964e067ae28e",
        "type": "ui-slider",
        "z": "2421c377f143735c",
        "group": "4ae917ec5fa6b79a",
        "name": "",
        "label": "Sampling Interval (s)",
        "tooltip": "",
        "order": 2,
        "width": 4,
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "false",
        "showTicks": "false",
        "min": 0,
        "max": "60",
        "step": "5",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 240,
        "y": 440,
        "wires": [
            [
                "42e62d449d9b1d11",
                "2d52bf6e0a0d201e"
            ]
        ]
    },
    {
        "id": "715b8e91b43be118",
        "type": "ui-slider",
        "z": "2421c377f143735c",
        "group": "4ae917ec5fa6b79a",
        "name": "",
        "label": "Sending Interval (s)",
        "tooltip": "",
        "order": 3,
        "width": 4,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "false",
        "showTicks": "false",
        "min": 0,
        "max": "300",
        "step": "10",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 230,
        "y": 500,
        "wires": [
            [
                "f9b50876b9b5454f",
                "f904696791a43792"
            ]
        ]
    },
    {
        "id": "15041adc97634188",
        "type": "ui-slider",
        "z": "2421c377f143735c",
        "group": "8ed196d5d85448e5",
        "name": "",
        "label": "Minimum angle (θ offset)",
        "tooltip": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "false",
        "showTicks": "false",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 250,
        "y": 740,
        "wires": [
            [
                "d736af6dd6bc506e",
                "b3731a5df2c0c0e8"
            ]
        ]
    },
    {
        "id": "b31b32ec4696b559",
        "type": "ui-slider",
        "z": "2421c377f143735c",
        "group": "8ed196d5d85448e5",
        "name": "",
        "label": "Controlling factor (γ)",
        "tooltip": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "false",
        "showTicks": "false",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 260,
        "y": 800,
        "wires": [
            [
                "04f9a86ea3cf7562",
                "21b4be6e6ab3d1d1"
            ]
        ]
    },
    {
        "id": "9bf2981a877f7d53",
        "type": "ui-slider",
        "z": "2421c377f143735c",
        "group": "8ed196d5d85448e5",
        "name": "",
        "label": "Ideal storage temperature (°C)",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "false",
        "showTicks": "false",
        "min": "10",
        "max": "40",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 230,
        "y": 860,
        "wires": [
            [
                "5812990d18a7e4a8",
                "48ac613789e7d574"
            ]
        ]
    },
    {
        "id": "d736af6dd6bc506e",
        "type": "mqtt out",
        "z": "2421c377f143735c",
        "name": "",
        "topic": "medibox/config/theta_offset",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b7b2d53ed3b2872f",
        "x": 540,
        "y": 740,
        "wires": []
    },
    {
        "id": "04f9a86ea3cf7562",
        "type": "mqtt out",
        "z": "2421c377f143735c",
        "name": "",
        "topic": "medibox/config/gamma",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b7b2d53ed3b2872f",
        "x": 530,
        "y": 800,
        "wires": []
    },
    {
        "id": "5812990d18a7e4a8",
        "type": "mqtt out",
        "z": "2421c377f143735c",
        "name": "",
        "topic": "medibox/config/T_med",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b7b2d53ed3b2872f",
        "x": 520,
        "y": 860,
        "wires": []
    },
    {
        "id": "b3731a5df2c0c0e8",
        "type": "debug",
        "z": "2421c377f143735c",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 680,
        "wires": []
    },
    {
        "id": "21b4be6e6ab3d1d1",
        "type": "debug",
        "z": "2421c377f143735c",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 780,
        "wires": []
    },
    {
        "id": "48ac613789e7d574",
        "type": "debug",
        "z": "2421c377f143735c",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 920,
        "wires": []
    },
    {
        "id": "f377b22b15255f2e",
        "type": "mqtt in",
        "z": "2421c377f143735c",
        "name": "",
        "topic": "medibox/sensor/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b7b2d53ed3b2872f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1000,
        "wires": [
            [
                "800ed801ea42c190"
            ]
        ]
    },
    {
        "id": "800ed801ea42c190",
        "type": "function",
        "z": "2421c377f143735c",
        "name": "function 14",
        "func": "return {\n    payload: msg.payload.temperature,\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1000,
        "wires": [
            [
                "41b8715aa3c8668f",
                "2d889c25019515fc",
                "0df56ebbe2d9374a"
            ]
        ]
    },
    {
        "id": "2d889c25019515fc",
        "type": "ui-gauge",
        "z": "2421c377f143735c",
        "name": "",
        "group": "4855e95d1b59b876",
        "order": 1,
        "width": 4,
        "height": "3",
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Temperature",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "20",
                "color": "#ffc800"
            },
            {
                "from": "30",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 710,
        "y": 1000,
        "wires": []
    },
    {
        "id": "41b8715aa3c8668f",
        "type": "function",
        "z": "2421c377f143735c",
        "name": "function 15",
        "func": "if (msg.payload > 30) {\n    return { payload: \"Temperature is high\" };\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1060,
        "wires": [
            [
                "4c667ecd795a886a"
            ]
        ]
    },
    {
        "id": "4c667ecd795a886a",
        "type": "ui-notification",
        "z": "2421c377f143735c",
        "ui": "e86bbb60fc0ca8e9",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": false,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 830,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "0df56ebbe2d9374a",
        "type": "ui-chart",
        "z": "2421c377f143735c",
        "group": "4855e95d1b59b876",
        "name": "",
        "label": "Temperature over Time",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "°C",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": "3",
        "showLegend": false,
        "removeOlder": "2",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#ff0000",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 7,
        "className": "",
        "interpolation": "bezier",
        "x": 750,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "b7b2d53ed3b2872f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4ae917ec5fa6b79a",
        "type": "ui-group",
        "name": "Light Intensity Monitoring",
        "page": "a9c5daa572ca28b2",
        "width": 4,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8ed196d5d85448e5",
        "type": "ui-group",
        "name": "Servo Control",
        "page": "a9c5daa572ca28b2",
        "width": 4,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4855e95d1b59b876",
        "type": "ui-group",
        "name": "Temperature Monitoring",
        "page": "a9c5daa572ca28b2",
        "width": 4,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e86bbb60fc0ca8e9",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "a9c5daa572ca28b2",
        "type": "ui-page",
        "name": "MediBox Dashboard",
        "ui": "e86bbb60fc0ca8e9",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "1714f00a09c3ab88",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1714f00a09c3ab88",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]